VITE_SUPABASE_URL=https://gxrzglxwvnqokneesddu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4cnpnbHh3dm5xb2tuZWVzZGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyMjQ0ODYsImV4cCI6MjEwMTgwMDQ4Nn0.5wGHIG2yvC9LG2fjBTCLAJqGynbzjCVqDveIkcBfuEE
